<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://weui.io/favicon.ico"
    />
    <link rel="stylesheet" href="/weui-react-v2/umi.css" />
    <script>
      window.routerBase = "/weui-react-v2/";
    </script>
    <script>
      //! umi version: 3.2.24
    </script>
    <title>SafeArea 安全空间</title>
  </head>
  <body>
    <div id="root"></div>

    <script src="/weui-react-v2/umi.js"></script>
  </body>
</html>
