<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/weui-react-v2/favicon.ico"
    />
    <link rel="stylesheet" href="/weui-react-v2/umi.css" />
    <script>
      window.routerBase = "/weui-react-v2/";
    </script>
    <script>
      //! umi version: 3.2.24
    </script>
    <script>
      !(function () {
        var e = localStorage.getItem("dumi:prefers-color"),
          t = window.matchMedia("(prefers-color-scheme: dark)").matches,
          r = ["light", "dark", "auto"];
        document.documentElement.setAttribute(
          "data-prefers-color",
          e === r[2] ? (t ? r[1] : r[0]) : r.includes(e) ? e : r[0]
        );
      })();
    </script>
    <title>ActionSheet 弹出式菜单</title>
  </head>
  <body>
    <div id="root"></div>

    <script src="https://gw.alipayobjects.com/os/lib/react/17.0.1/umd/react.development.js"></script>
    <script src="https://gw.alipayobjects.com/os/lib/react-dom/17.0.1/umd/react-dom.development.js"></script>
    <script src="/weui-react-v2/umi.js"></script>
  </body>
</html>
